doctype html
html
   head
      title = "Hello Pug"
      link(rel="stylesheet", href="/css/style.css")
   body
      p.greetings#people Bienvenidos a nuestra pagina HOME
      button(onclick="window.location.href='/contact'") Ir a Contact 
      button(onclick="window.location.href='/about'") Ir a About     
      button(onclick="window.location.href='/location'") Ir a Location
      button(onclick="window.location.href='/mision'") Ir a Mission
   include ./footer.pug  