doctype html
html
   head
      title = "Hello Pug"
      link(rel="stylesheet", href="/css/style.css")
   body
      p.greetings#people Bienvenidos a nuestra pagina HOME
       
   include ./footer.pug  